.row {
    display: flex;
    justify-content: center;
    gap: 6rem;
    width: 100%;
    margin: 0 auto;
    flex-wrap: wrap;
    
    .col-2 {
        width: 60rem;

        @include respond(tab-port) {
            text-align: center;
            padding: 2rem;
        }
    }
}

.row-2 {
    display: flex;
    justify-content: center;
    gap: 6rem;
    width: 90%;
    margin: 0 auto;
    padding: 10px;
    flex-wrap: wrap;

}


