*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    /*  Isso é o mesmo que 10px
        como a unidade de medida está em rem, quero definir que 1 rem é 10 pixels.
        O cálculo é feito para que a proporção seja a mesma por mais que o usuário altere
        o tamanho da fonte do navegador.
        Então 10/16 = 0,625 * 100 = 62,5%
    */
    font-size: 62.5%;

    @include respond(tab-land) {//width < 1200
        font-size: 56.25%; //1 rem = 9px, 9/16 = 56.25%   
    }

    @include respond(tab-port) {//width < 900
        font-size: 50%; //1 rem = 8px, 8/16 = 50%
    }

    @include respond(big-desktop) {
        font-size: 75%; //1rem = 12, 12/16 = 75%  
    }
}

body {
    box-sizing: border-box;
}